/*The fonts for my webpages*/
/*By Zhang-X*/
/*Show time*/
/* To developers: DONT FORGET TO ADD THE COMMA!!! */


/*↓Chinese*/

@font-face {
    font-family: "ZX-C-Aa卑微的我喜欢遥远的你";
    src:local("Aa卑微的我喜欢遥远的你"),
        local("AaBeiWeiDeWoXiHuanYaoYuanDeNi-2"),
        url("Chinese/ZX-C-AaBeiWeiDeWoXiHuanYaoYuanDeNi.ttf");
}
@font-face {
    font-family: "ZX-C-汉仪文黑85W";
    src:local("汉仪文黑-85W Heavy"),
        local("HYWenHei85W"),
        url("Chinese/ZX-C-HYWenHei85W.otf");
}

/*↓English*/

@font-face{
    font-family: "ZX-E-ComicSansMS";
    src:local("Comic Sans MS"),
        url("https://5h9igzqanx.github.io/fonts-wbst/English/ZX-E-ComicSansMS.ttf");
}
@font-face{
    font-family: "ZX-E-FiraCode";
    src:local("FiraCode-Bold.ttf"),
        local("FiraCode-Light.ttf"),
        local("FiraCode-Medium.ttf"),
        local("FiraCode-Regular.ttf"),
        local("FiraCode-Retina.ttf"),
        local("FiraCode-SemiBold.ttf"),
        url("English/ZX-E-FiraCode/ZX-E-FiraCode-Bold.ttf"),
        url("English/ZX-E-FiraCode/ZX-E-FiraCode-Light.ttf"),
        url("English/ZX-E-FiraCode/ZX-E-FiraCode-Medium.ttf"),
        url("English/ZX-E-FiraCode/ZX-E-FiraCode-Regular.ttf"),
        url("English/ZX-E-FiraCode/ZX-E-FiraCode-Retina.ttf"),
        url("English/ZX-E-FiraCode/ZX-E-FiraCode-SemiBold.ttf");
}
@font-face {
    font-family: "ZX-E-Minecraft";
    src:local("Minecraft-Regular.otf"),
        local("Minecraft-Italic.otf"),
        local("Minecraft-Bold.otf"),
        local("Minecraft-BoldItalic.otf"),
        local("Minecraft-AE-pixel.ttf"),
        local("Minecraft Regular.otf"),
        local("Minecraft Italic.otf"),
        local("Minecraft Bold.otf"),
        local("Minecraft BoldItalic.otf"),
        local("Minecraft AE pixel.ttf"),
        url("English/ZX-E-Minecraft/ZX-E-Minecraft-Regular.otf"),
        url("English/ZX-E-Minecraft/ZX-E-Minecraft-Italic.otf"),
        url("English/ZX-E-Minecraft/ZX-E-Minecraft-Bold.otf"),
        url("English/ZX-E-Minecraft/ZX-E-Minecraft-BoldItalic.otf"),
        url("English/ZX-E-Minecraft/ZX-E-Minecraft-AE-pixel.ttf");
}

/*↓Other*/

@font-face{
    font-family: "ZX-O-IMG-FontAwesome";
    src:local("fontawesome-webfont.ttf"),
        url("https://5h9igzqanx.github.io/fonts-wbst/other/ZX-O-IMG-FontawesomeWebfont.ttf");
}
@font-face{
    font-family: "ZX-O-IMG-SegMdl2";
    src:local("segmdl2.ttf"),
        url("https: //5h9igzqanx.github.io/fonts-wbst/other/ZX-O-IMG-SegMdl2.ttf");
}