/*The fonts for my webpages*/
/*By Zhang-X*/
/*Show time*/


/*↓Chinese*/

@font-face {
    font-family: "ZX-C-AaBeiWeiDeWoXiHuanYaoYuanDeNi";
    src:local("AaBeiWeiDeWoXiHuanYaoYuanDeNi-2.ttf"),
        url("Chinese/ZX-C-AaBeiWeiDeWoXiHuanYaoYuanDeNi.ttf");
}

/*↓English*/

@font-face {
    font-family: "ZX-E-ComicSansMS";
    src:local("Comic Sans MS"),
        url("English/ZX-E-ComicSansMS.ttf");
}

/*↓Other*/

@font-face {
    font-family: "ZX-O-FontAwesome";
    src:url("other/ZX-O-IMG-FontawesomeWebfont.ttf");
}